body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/688/849/original/smartphone-with-delivery-worker-in-motorcycle-vector.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#login-message {
    font-size: 22px;
    font-weight: bold;
    color: #705707;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2 {
    color: #705707;
    text-align: center;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    animation: fadeIn 1s ease-out;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

button:hover {
    background: rgb(209, 217, 82);
    background: linear-gradient(56deg, rgba(209, 217, 82, 1) 0%, rgba(179, 39, 0, 1) 100%);
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    height: 14%;
    width: 80%;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: transparent;
}

header img {
    max-width: 30%;
    height: auto;
}


header h1 {
    margin: 0;
    color: #705707;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

a:active {
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    form {
        width: 80%;
        max-width: 100%;
        margin: 0 auto;
    }

    header {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
       
    }

    #login-message {
        font-size: 14px;
    }


}